##### Exercise 1
_Create a Jupyter Notebook._

##### Excercise 2
_Create markdown cell with title of the notebook_

# Data Science Tools and Ecosystem

##### Exercise 3
_Create a markdown cell for an introduction_

In this notebook, Data Science Tools and Ecosystem are summarized.

##### Exercise 4
_Create a markdown cell to list data science languages_

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

##### Exercise 5
_Create a markdown cell to list data science libraries_

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow

##### Exercise 6
_Create a markdown cell with a table of Data Science tools_

|Data Science Tools|
|------------------|
|Anaconda|
|RStudio|
|JupyterLab|

##### Exercise 7
_Create a markdown cell introducing arithmetic expression examples_

### Below are a few examples of evaluating arithmetic expressions in Python

##### Exercise 8
_Create a code cell to multiply and add numbers_

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

##### Exercise 9
_Create a code cell to convert minutes to hours_

In [7]:
# This will convert 200 minutes to hours by diving by 60

#number of minutes
x = 200
#Convertion
y = 200/60

#Result
print(x, 'minutes is equal to', y, 'hours')

200 minutes is equal to 3.3333333333333335 hours

##### Exercise 10
_Insert a markdown cell to list Objectives_

__Objectives:__
* List popular languages in Data Science
* List popular development environments for Data Science
* List popular libraries for Data Science

##### Exercise 11
_Create a markdown cell to indicate the Author's name_

## Author
Claudio J Castro